body{
    margin:0;
    background:transparent;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.widget{

    width:430px;
    height:82px;

    display:flex;
    align-items:center;
    gap:12px;

    background:rgba(0,0,0,.82);

    border:2px solid #53FC18;

    border-radius:18px;

    box-shadow:
        0 0 10px #53FC18,
        0 0 20px rgba(83,252,24,.6);

    padding:8px 12px;
}

.avatar{
    width:60px;
    height:60px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #53FC18;

    box-shadow:
        0 0 8px #53FC18,
        0 0 16px #53FC18,
        inset 0 0 10px #53FC18;

    background:#000;

    flex-shrink:0;
}

.content{
    flex:1;
}

.title{
    color:white;

    font-size:18px;

    font-weight:900;

    margin-bottom:8px;

    text-shadow:
    0 0 10px #7CFF00;
}

.progress-container{
    display:flex;
    align-items:center;
    gap:10px;
}

.progress-bar{

    width:260px;
    height:18px;

    background:#111;

    border-radius:999px;

    overflow:hidden;

    border:1px solid #53FC18;
}

.fill{

    height:100%;

    background:linear-gradient(
      90deg,
      #53FC18,
      #8dff4a
    );

    box-shadow:
      0 0 10px #53FC18;
}

.percent{

    width:55px;

    text-align:right;

    color:white;

    font-size:20px;

    font-weight:900;
}

.counter{

    margin-top:5px;

    color:#7cff00;

    font-size:15px;

    font-weight:800;
}
