html,body{


margin:0;

padding:0;


width:1920px;

height:1080px;


overflow:hidden;


background:transparent;


font-family:Arial Black, sans-serif;


}





/* CONTENEUR */


#jauge {

position:absolute;

left:760px;

top:760px;

width:420px;

height:130px;

}

background:

linear-gradient(
180deg,
rgba(0,0,0,0.75),
rgba(0,0,0,0.45)
);

border:2px solid rgba(255,255,255,.15);

backdrop-filter:blur(4px);

box-shadow:

0 0 20px rgba(0,255,100,.5),
inset 0 0 40px rgba(0,0,0,.8);


transition:1s;



overflow:hidden;


}


/* TITRE */


.titre{


text-align:center;


color:white;


font-size:22px;
letter-spacing:3px;
text-transform:uppercase;

text-shadow:

0 0 10px #00ff66;


margin-bottom:20px;


}





/* BARRE */


.barre-container{


height:30px;


border:

2px solid white;



background:

rgba(0,0,0,.7);



overflow:hidden;


}




.barre{


height:100%;


width:0%;


.barre {

background:

linear-gradient(
90deg,
#00ff66,
#00ffaa
);


box-shadow:

0 0 25px #00ff66;

}


transition:

width 1s ease,

background 1s;


}







/* COMPTEUR */


.compteur{


text-align:center;


margin-top:15px;


font-size:42px;

letter-spacing:5px;


color:white;



text-shadow:


0 0 15px #00ff66;



}





/* SYMBOLS */


.particules span{


position:absolute;


opacity:.08;


font-size:50px;


animation:

float 8s infinite;



}



.particules span:nth-child(1){

left:20%;

}


.particules span:nth-child(2){

left:40%;

animation-delay:2s;

}



.particules span:nth-child(3){

left:65%;

animation-delay:4s;

}



.particules span:nth-child(4){

left:85%;

animation-delay:6s;

}





@keyframes float{


from{

transform:

translateY(150px);

}


to{

transform:

translateY(-200px);

}


}






/* SALLE INTERDITE */


#jauge.interdit{


border-color:red;


box-shadow:


0 0 20px red,

0 0 70px rgba(255,0,0,.7);



}



#jauge.interdit .barre{


background:red;


box-shadow:

0 0 30px red;


}



#jauge.interdit .titre{


text-shadow:

0 0 20px red;


}







/* JACKPOT */


#jauge.jackpot{


border-color:gold;


box-shadow:


0 0 30px gold,

0 0 120px orange;



animation:

jackpot 0.5s infinite;


}



#jauge.jackpot .barre{


background:gold;


box-shadow:

0 0 40px gold;


}



#jauge.jackpot .titre{


text-shadow:

0 0 30px gold;


}





@keyframes jackpot{


50%{

filter:brightness(2);

}


}
