body {
    margin: 0;
    background: transparent;
    overflow: hidden;
}

#casinoBox {
    width: 380px;
    padding: 15px;
    background: rgba(10, 0, 0, 0.95);
    border: 4px solid #53fc18;
    border-radius: 15px;
    box-shadow: 0 0 20px #53fc18;
    transition: all 0.6s ease;
    font-family: Arial, sans-serif;
}

/* Mode Rouge */
#casinoBox.red-mode {
    border-color: #ff2a2a;
    box-shadow: 0 0 25px #ff2a2a;
}

#title {
    text-align: center;
    color: #ffd700;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ff2a2a;
}

#counter {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #53fc18;
    margin: 12px 0;
    transition: color 0.6s;
}

#casinoBox.red-mode #counter {
    color: #ff2a2a;
}

#barBg {
    height: 26px;
    background: #111;
    border-radius: 30px;
    overflow: hidden;
    border: 3px solid #53fc18;
}

#casinoBox.red-mode #barBg {
    border-color: #ff2a2a;
}

#barFill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #53fc18, #9dff59);
    transition: width 1s ease;
}

#casinoBox.red-mode #barFill {
    background: linear-gradient(90deg, #ff2a2a, #ff6666);
}

#status {
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
