body{
margin:0;
background:transparent;
}

#twingoOverlay{
position:absolute;
top:50px;
left:50px;
width:500px;
padding:20px;
background:black;
border:5px solid lime;
color:white;
font-size:30px;
display:block;
}
